*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* height: 100vh; */
    width:100%;
/* background-color: aqua; */
     /* max-width: 1440px; */
   
}
.main{
    /* max-width: 1440px; */
      background-color: #faf2ef;
    padding-left: 5rem;
    padding-right: 5rem;
    /* background-color: blueviolet; */
}
.control-width{

}
.header{

    height: 8vh;

    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loc{
    color:#ff7f5f
}
.left{
    /* background-color: blue; */
   font-size: 1.2rem;
   
   
}

.center{
          /* font-family: 'Molle', cursive; */
          font-family: 'Berkshire Swash', cursive;
              font-size: 2.5rem;
    /* background-color: bisque; */
}

.right{
    /* background-color: chocolate; */
    display: flex;
    gap:10px;
}


.nav{
    /* background-color: aquamarine; */


}
.nav ul {
    /* background-color: blue; */
  list-style: none;
  /* padding: 0;
  margin: 0; */
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1.2rem;
}

.hero-section{
    display: flex;
    height: 50vh;
    /* flex-wrap:wrap-reverse; */
    /* background-color: aquamarine; */
}
.text{
    width: 51%;
    /* background-color: blue; */
    height: 100%;
        /* font-family: 'sans-serif'; */
}

.hero-img{
    width: 49%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: end;
}


.text h5 {
  letter-spacing: 10px;
  color: #ff7f5f;
}

.text h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
}
.bt{
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    height: 20%;
}
.text p{
    font-size: 1.2rem;
      line-height: 1.2;
}
.text button{
   background-color:#ff7f5f;
   color: white;
width: 90px;

   border: none;    
height: 30px;

}
.middle-hero{
      background-color:white; 
      /* background-color:blue;  */
        padding-left: 5rem;
    padding-right: 5rem;
  display: flex;
flex-direction: column;
    

}
.middle-section{
    height: 20vh;
    width:97%;

    /* background-color:aqua; */
    display: flex;
    justify-content: space-between;
    /* gap: 170px; */
    align-items: center;
      

}

.items{
    /* height:10vh ; */
    width: 5vw;
    background-color: #faece1;
    border-radius: 50%;
   aspect-ratio: 1 / 1; 
   overflow: hidden;
      /* line-height: 1.2; */
    /* border:2px solid black; */
}

.items-text p{
    /* background-color: aquamarine; */
text-align: center;
margin-top: .5rem;
}

.products{
    /* background-color: chocolate; */
    /* height: 70vh; */
 
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}
.heading{
       width: 70%;
}
.card-container{
    /* background-color: aquamarine; */
display: flex;
justify-content: space-between;
/* gap: 50px; */
align-items: center;
flex-wrap: wrap;
   height:auto;



}

.card{
 height: 60vh;
     width: 30vh;
/* background-color: #ff7f5f; */
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: space-around; */
}
.card-img{
 height: 50vh;
    width: 30vh;
        background-color: #f8f8f8;
        /* background-color: aqua; */
        display: flex;
     align-items: end;
        flex-direction: column;
}

.card-img img{
  height: 30vh;
  width: 100%;
  object-fit: contain;
}
.card-img button{
    background-color: #ff7f5f;
    color: #f8f8f8;
    border: none;
    /* width: 3vw; */
      width: 20%;
}
#fourth{
    display: none;
}

.banner{
      background-color: #faece1;
     height: 60vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    
   
}
.banner-img img {

  /* background-color: aqua; */
  height: 50%;
  object-fit: contain;
  width: 100%;
  
}
.banner-text{
    /* background-color: aqua; */
 display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    height: 40%;
}
.items img{
  height:100%;
  width: 100%;
  object-fit: contain;



}
.card-text{
 color:#ff7f5f;
}
.banner-button{
    color: #ff7f5f;
}

.border {
  width: 100%;
  height: 1.5px;
  background-color: #ccc;
  margin-top: 8px;
}
.cart{
    margin-top: .5rem;
}
.product-heading{
    font-size: 1.8em;
}

.footer{
    /* background-color: aqua; */
    height: auto;
         background-color:white; 
        padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
}
.footer-start{
    /* background-color: blueviolet; */
    height:auto;
    display: flex;
        justify-content: space-between;
          flex-wrap: wrap; 
}
.footer-items{
    /* background-color: #ff7f5f; */
              height: 16vh;
            
              width: 40vh;
             
      
}
.footer-items h2{
       font-family: 'Berkshire Swash', cursive;
              font-size: 1.5rem;
          

}
.special{
display:flex;
align-items: start;
            
              flex-direction:column;
              justify-content:space-evenly;
}
.footer-items li{
    list-style: none;
}
.footer-end{
    /* background-color: aquamarine; */
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.footer-items button{
    color: white;
    background-color: #ff7f5f;
    border: none;
    width: auto;
    height: 5vh;
}   
.form{
    display: flex;
}
input{
        height: 5vh;
        border: none;
}

@media (max-width: 1030px) {
  .middle-hero {
    /* position: relative;  */
  display: flex;
/* flex-direction: column; */
  }
  .heading{
       width: 100%;
}
.card{
    width: 40%;
    /* background-color:red; */
}
.card-img{
   width: 100%;
}
.card-img button{
  min-width: 10%;
  max-width: 20%;
}
  .middle-section {
    display: none;
    
  }
  .banner{
        order:-1;
     width: 100%;
    height: 20vh;
    /* background-color: aqua; */
  display: flex;
    justify-content: space-around;
    align-items: center; 
   
 
}
.control-width{
/* background-color: aquamarine; */
 display: flex;
 flex-direction: column;
 
 gap: 20px;
}
.banner-text{
/* background-color: blueviolet; */
 display: flex;
    align-items:start;
    justify-content:center;
        flex-direction: column;
        gap: 5px;
        width: 50%;
        height: 100%;
     
    
}
.banner-img{
  /* background-color:bisque; */
  height: 70%;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}

.banner-img img {


      width: 100%;
    max-width: 400px; 
    height: auto;
    object-fit: contain;
}
  
  .products {
    margin-top: 0%; 
    display: flex;
    flex-direction: column;
  }
  #fourth{
    display: flex;
  }
  .footer{
    /* width: 40%; */

  }
  .footer-start{
    /* width: 100%; */
  }
}

@media (max-width: 768px) {
  /* .products{
    background-color: blueviolet;
    height: 100vh;

display: flex;
    flex-direction: column;

  } */

  .hero-section {

    flex-direction: column;
    height: auto;
  }
.card{
    width: 100%;
    /* background-color:red; */
}
.card-img{
   width: 100%;
}
.card-img button{
  min-width: 10%;
  max-width: 15%;
}
  .text, .hero-img {
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }
  .footer{
    /* display: none; */
  }

  
    /* .footer-start {
    flex-direction: column;  
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: aqua;
  }

  .footer-items {
    width: 100%;
  } */
}
